version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init-databases.sh:/docker-entrypoint-initdb.d/init-databases.sh
    networks:
      - microservices_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq_msg_broker
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices_network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - microservices_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus
    container_name: prometheus_metrics
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - microservices_network
    depends_on:
      - api-gateway
      - auth-service
      - task-service
      - file-service

  grafana:
    image: grafana/grafana
    container_name: grafana_dashboard
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - grafana_data:/var/lib/grafana
    ports:
      - "3030:3000"
    networks:
      - microservices_network
    depends_on:
      - prometheus

  auth-service:
    build: ./auth-service
    container_name: auth_service
    environment:
      - PORT=3001
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=auth_db
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/auth_db
      - JWT_SECRET=supersecret_auth_key_123
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices_network

  task-service:
    build: ./task-service
    container_name: task_service
    environment:
      - PORT=3002
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=task_db
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/task_db
      - JWT_SECRET=supersecret_auth_key_123
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - REDIS_URL=redis://redis:6379
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - microservices_network

  file-service:
    build: ./file-service
    container_name: file_service
    environment:
      - PORT=3003
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=file_db
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/file_db
      - JWT_SECRET=supersecret_auth_key_123
      - RABBITMQ_URL=amqp://rabbitmq:5672
    volumes:
      - file_uploads:/app/uploads
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices_network

  api-gateway:
    build: ./api-gateway
    container_name: api_gateway
    environment:
      - PORT=3000
      - JWT_SECRET=supersecret_auth_key_123
      - AUTH_SERVICE_URL=http://auth-service:3001
      - TASK_SERVICE_URL=http://task-service:3002
      - FILE_SERVICE_URL=http://file-service:3003
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - task-service
      - file-service
    networks:
      - microservices_network

volumes:
  postgres_data:
  file_uploads:
  grafana_data:


networks:
  microservices_network:
    driver: bridge
